body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    
}
.personaldata {
    color: whitesmoke;
    font-size: 32px;
    padding: 8px;
    margin-top: 16px;
    font-weight: bold;
    letter-spacing: 1mm;
    display: inline-block;
    margin-top: -350px;
    margin-left: 20cm;
    display: inline-block;
    background-color: #03989e;
    width: 50%;
    height: auto;
    line-height: 200%;
    margin-right: 5cm;
    vertical-align:1cm;

}
#profilbild img {    
    width: 20%;
    height: auto;
    background-color: #03989e;
    vertical-align: 100px;
    padding-top: 5cm;
   
}

#profilbild {
    width: 5%;
    height: auto;
}
#top {
    text-align: center;
    color: whitesmoke;
    background-color: #03989e;
    

}

#navigation a{
    color:black;
    padding: 20px;
    font-size: 28px;
    color: whitesmoke;
}

#navigation a:hover {
    color: black;
}

#image img{
    width: 100%;
    height: auto;
}

#main{
    max-width: 800px;
    margin:auto;
}

#footer {
    text-align: center;
    color: #03989e;
    padding: 16px;
}
.logo{
    float: center;
    width: 15cm;
    padding-top: 1cm;
    padding-right: 1cm;
}
.personaldata p {
    font-size: 25px;
    line-height: 150%;
    vertical-align: -10%;
}
#border {
    outline: 13px solid #FFFFFF;
    outline-offset: 0px;
    }